{%extends 'base.html.twig' %}

{%block content%}
<button type="button" class="btn btn-primary"><a href="{{path('app_addRendezVous')}}">ajouter RendezVous</a></button>
<br>
<div class="table-responsive">
    
    <table class="datatable table table-hover table-center mb-0 dataTable" id="DataTables_Table_0">
        <thead>
            <tr>
                <th>Id</th>
                <th>Docteur</th>
                <th>Patient</th>
                <th>Adresse</th>
                

                <th class="text-center">Actions</th>
            </tr>
        </thead>
        
        <tbody>
            
            <tr>
                {% for i in RendezVous %}
                <td>{{i.Id_Rdv}}</td>
                <td>
                    <h2 class="table-avatar">
                        <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/doctors/doctor-thumb-01.jpg" alt="User Image"></a>
                        <a href="profile.html">{{i.Docteur}}</a>
                    </h2>
                </td>
                
                <td>
                    <h2 class="table-avatar">
                        <a href="profile.html" class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle" src="assets/img/patients/patient1.jpg" alt="User Image"></a>
                        <a href="profile.html">{{i.Patient}} </a>
                    </h2>
                </td>
                <td>{{i.Adresse}}</td>
                <td class="text-center">
                    <button type="button" class="btn btn-primary"><a href="{{path('updateR',{'id':i.id}) }}">Modifier</a></button>
                    <button type="button" class="btn btn-danger"><a href="{{path('supprimerR',{'id':i.id}) }}">Supprimer</a></button>
                </td>
                
            </tr>
            
        </tbody>
{%endfor%}
    </table>
    
</div>
{%endblock%}
